<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/challenges.css">
    <link rel="stylesheet" href="../../static/css/easy.css">
    <link rel="stylesheet" href="../../static/css/variables.css">
    <link rel="stylesheet" href="../../static/css/components.css">
</head>

<body>
    <div style="width: 100%; text-align: center;"><h1>CSS CHALLENGES</h1></div>

    <div class="row justify-content-center">
        <h2 class="text-center">Info</h2>
        <p class="text-center">This page is dedicated to learning and practising advanced css by completing the css challenges found in this <a class="blue_link" href="https://css-challenges.com/#">website</a></p>
    </div>
    <div id="boxes">
        <div style="width: 100%; text-align: center;"><h2>Easy</h2></div>
        <div class="box">
            <div id="box1" class="ch_box">

            </div>
        </div>
        <div class="box">
            <div id="box2" class="ch_box">

            </div>
        </div>
        <div class="box">
            <div id="box3" class="ch_box">

            </div>
        </div>
        <div class="box">
            <div id="box4" class="ch_box">

            </div>
        </div>
        <div class="box">
            <div id="box5" class="ch_box">

            </div>
        </div>
        <div class="box">
            <div id="box6" class="ch_box">

            </div>
        </div>
        <div class="box">
            <div id="box7" class="ch_box">

            </div>
        </div>
               <div class="box">
            <div id="box8" class="ch_box">

            </div>
        </div>
        <div class="box">
            <div id="box9" class="ch_box">

            </div>
        </div>
        <div class="box">
            <div id="box10" class="ch_box">

            </div>
        </div>
        <div class="box">
            <div id="box11" class="ch_box">

            </div>
        </div>
        <div class="box">
            <div id="box12" class="ch_box">

            </div>
        </div>
        <div class="box">
            <div id="box13" class="ch_box">

            </div>
        </div>
        <div class="box">
            <div id="box14" class="ch_box">

            </div>
        </div>
        <div class="box">
            <div id="box15" class="ch_box">
                

            </div>
        </div>
        <div class="box">
            <div id="box16" class="ch_box">

            </div>
        </div>
               <div class="box">
            <div id="box17" class="ch_box">

            </div>
        </div>
        <div class="box">
            <div id="box18" class="ch_box">

            </div>
        </div>
        <div class="box">
            <div id="box19" class="ch_box">

            </div>
        </div>
                <div class="box">
            <div id="box20" class="ch_box">

            </div>
        </div>   
    </div>
</body>

</html>