{% include "links.html" %}
{% include "header.html" %}

<div class="justify-content-center container d-flex mx-auto">
    <h1 class="text-center h1_big">Js games</h1>
</div>
<div>
    <p class="text-center plain-p"> This page is to showcase and train my coding
        skill by making games</p>
</div>
<div class="justify-content-center container d-flex mx-auto">
    <ul class="list-group">
        <li class="text-center plain-li"><a href="{{url_for('tresenraya')}}" class="green_link">tres en raya</a></li>
        <li class="text-center plain-li"><a href="{{url_for('sudoku')}}" class="green_link">sudoku</a></li>
        <li class="text-center plain-li"><a href="{{url_for('blackjack')}}" class="green_link">blackjack</a>
        </li>
        <li class="text-center plain-li"><a href="{{url_for('buscaminas')}}" class="green_link">buscaminas</a></li>
        <li class="text-center plain-li"><a href="{{url_for('adivinaNum')}}" class="green_link">Adivina el
                numero</a></li>
        <li class="text-center plain-li"><a href="{{url_for('hexKingdom')}}" class="green_link">Hexagonal
                Kingdoms</a></li>
        <li class="text-center plain-li"><a href="{{url_for('obstacleRun')}}" class="green_link">Obstacle
                Run</a></li>
        <li class="text-center plain-li"><a href="{{url_for('spaceInvaders')}}" class="green_link">Space
                Invanders</a></li>
        <li class="text-center plain-li"><a href="{{url_for('tute')}}" class="green_link">Tute</a></li>
    </ul>
</div>
{% include"footer.html" %}