<nav class="navbar navbar-expand-sm bggrey">
  <div class="container-fluid">
    <ul class="nav  justify-content-start">
        <li class="nav-item text-white">
            <a class="nav-link green_hover" href="{{ url_for('pj_personal')}}">Personal Websites</a>
        </li>
        <li class="nav-item green_hover">
          <a class="nav-link green_hover" href="{{ url_for('pj_games')}}">Games</a>
        </li>
        <li class="nav-item red_hover">
          <a class="nav-link green_hover" href="{{ url_for('pj_ordered')}}">Ordered Websites</a>
        </li>
    </ul>
  </div>
</nav>
<main class="container flex-fill py-4">
