{% include "links.html" %}
{% include "header.html" %}

<div class="row justify-content-center container d-flex mx-auto">
  <h1 class="h1_big text-center">HTML</h1>
</div>
<div class="row justify-content-center container d-flex mx-auto">
  <div>
    <p class="text-center plain-p">Pages i have done for my clients and
      collaborated in</p>
  </div>
  <div class="row justify-content-center container d-flex mx-auto">
    <h2 class="text-center h2_big">Made on my own</h2>
  </div>
  <div class="row justify-content-center container d-flex mx-auto">
    <ul class="list-group">
      <li class="text-center plain-li"></li>
    </ul>
  </div>
</div>

{% include"footer.html" %}