{% include "header.html" %}
{% include "projects/pj_header.html" %}
<div class="container-fluid " style = "margin-top:100px">
<div class="row justify-content-md-left container d-flex mx-auto">
  <h1 class="text-center">Personal websites</h1>
</div>
<div class="row justify-content-left container d-flex mx-auto">
  <p class="text-left main_content">Websites made for personal use or for fun</p>
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
  <h2 class="h2_big text-left">Basic implementations</h2>
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
  <ul>
    <li class="text-left main_content"><a href="{{ url_for('pj_per_div')}}" target="_self" class="green_link" >Div showcase</a></li>
    <li class="text-left main_content"><a href="{{ url_for('pj_per_built_in_api')}}" target="_self" class="green_link" >Built in API showcase</a></li>
  </ul>
</div>  
<div class="row justify-content-md-left container d-flex mx-auto">
  <h2 class="h2_big text-left">Projects</h2> 
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
  <ul>
    <li class="text-left main_content"><a href="https://www.breadtombakery.com/Es" target="_blank" class="green_link" >Bread Website</a></li>
  </ul>
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
  <h2 class="h2_big text-left">Study aids</h2> 
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
  <ul>
    <li class="text-left main_content"><a href="{{ url_for('pj_operaciones')}}" target="_self" class="green_link" >Binary operations</a></li>
    <li class="text-left main_content"><a href="{{ url_for('pj_gestion')}}" target="_self" class="green_link" >Process management</a></li>
  </ul>
</div> 
{% include"footer.html" %}