{% include "links.html" %}
{% include "header.html" %}
{% include "projects/pj_header.html" %}
<div class="container-fluid">
  <div class="row">
    <main class="container flex-fill py-4">
      <h1>HTML DIV Example</h1>
      Lorem Ipsum <div style="background-color:yellowgreen;">I am a div</div> dolor sit amet.
      <div style="width:300px;margin:auto;background-color: yellowgreen;">This div has been centered</div>
      <h1>Aligning divs</h1>
      <h3>Using css float (not intended originally for this)</h3>
      <div class="mycontainer">
        <div style="background-color: yellowgreen;">
          <h4>div 1</h4>
        </div>
        <div style="background-color: chocolate;">
          <h4>div 2</h4>
        </div>
        <div style="background-color: aquamarine;">
          <h4>div 3</h4>
        </div>
      </div>
      <h3>Inline block (need to remove spaces between divs to work)</h3>
      <div class="parent-inline">
        <div class="linediv" style="background-color: yellowgreen;">
          <h4>div 1</h4>
        </div>
        <div class="linediv" style="background-color: chocolate;">
          <h4>div 2</h4>
        </div>
        <div class="linediv" style="background-color: aquamarine;">
          <h4>div 3</h4>
        </div>
      </div>
      <h3>Flex</h3>
      <div class="mycontainer2">
        <div style="background-color: yellowgreen;">
          <h4>div 1</h4>
        </div>
        <div style="background-color: chocolate;">
          <h4>div 2</h4>
        </div>
        <div style="background-color: aquamarine;">
          <h4>div 3</h4>
        </div>
      </div>
      <h3>Grid</h3>
      <div class="grid-container">
        <div style="background-color: yellowgreen;">
          <h4>div 1</h4>
        </div>
        <div style="background-color: chocolate;">
          <h4>div 2</h4>
        </div>
        <div style="background-color: aquamarine;">
          <h4>div 3</h4>
        </div>
      </div>
    </main>
  </div>
</div>
{% include"footer.html" %}