<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistemas informaticos 1</title>
    <style>
        :root {
            --green: #15400a;
            --white: #FFFFFF;
            --black: #000000;
            --grey: #cacaca;
            --blue: #051f8a;
            --red: #a80101;
            --dark_gray: #929292;
        }

        .dark {
            --red: #fc5656;
            --green: #00ff00;
            --grey: #363636;
            --black: #FFFFFF;
            --white: #000000;
            --blue: aqua;
            --dark_gray: #7c7c7c;
        }

        #color_changer {
            position: relative;
            float: right;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: var(--black);
            border: 3px solid var(--white);
            outline: 3px solid var(--black);
        }

        body {
            background-color: var(--white);
        }

        .container {
            max-width: 800px;
            margin: 40px auto;
            padding: 32px;
            border-radius: 8px;
            background: var(--grey);
            color: var(--black);
        }

        a,
        a:visited{
            color: var(--blue);
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        h2{
            margin-top: 0;
            color: var(--black);
            border-bottom: 2px solid var(--black);
        }

        h1 {
            color: var(--black);
            padding-bottom: 8px;
            margin-bottom: 24px;
        }

        nav ul {
            padding-left: 0%;
        }

        p {
            font-family: Arial, Helvetica, sans-serif;
        }

        nav li {
            display: inline;
            padding: 10px;
            align-self: start;
            color: var(--black);
            border-radius: 20px;
            background-color: var(--white);
            text-decoration: none;
        }

        nav li:hover {
            background-color: var(--red);
            color: var(--white);
        }


        nav {
            left: 0;
        }

        .center_suma_resta {
            translate: 70%;
        }

        .center_suma_resta_res {
            translate: 30%;
        }

        @media (max-width: 600px) {
            .container {
                padding: 12px;
            }
        }

        table {
            border: 1px solid var(--black);
            border-spacing: 0px;
        }

        caption {
            font-weight: bold;
            font-size: x-large;
        }

        td {
            min-width: 70px;
            padding: 5px;

        }

        tr:last-child td {
            border-bottom: none;
        }

        tr:nth-child(even) {
            background-color: var(--dark_gray);
        }

        .tr-operaciones {
            border: none;
        }

        button {
            background-color: var(--white);
            border-radius: 20px;
            border: none;
            color: var(--black);
        }

        button:hover {
            background-color: var(--green);
            color: var(--white);
        }

        .small_column {
            min-width: 0px;
        }

        input {
            width: 80%;
            box-sizing: border-box;
            color: var(--black);
            background-color: var(--white);
        }
        a:focus, a:focus-visible,
        button:focus, button:focus-visible,
        nav li:focus, nav li:focus-visible{
            outline: 1px solid var(--green);
        }
        .acierto{
            background-color: var(--green);

        }
        .error{
            background-color: var(--red);
        }
    </style>
</head>

<body class="light">
    <div class="container">
        <button id="color_changer"></button>
        <div>
            <nav>
                <ul>
                    <li><a href="#conversion" tabindex="1">Conversion</a></li>
                    <li><a href="#operaciones" tabindex="2">Operaciones</a></li>
                    <li><a href="#complementos" tabindex="3">Complemento</a></li>
                    <li><a href="{{url_for('pj_personal')}}" tabindex="4">Projects</a></li>
                </ul>
            </nav>
        </div>
        <div>
            <h1>Ejercicios para practicar</h1>
        </div>
        <div>
            <h2 id="Conversion">Conversiones: binario, octal, decimal, hexadecimal</h2>
            <h3>Racha: <span id="conversiones">0</span></h3>
            <table>
                <caption tabindex="5">Hexadecimal</caption>
                <tr id="hex_bin_row">
                    <td tabindex="6">Binario</td>
                    <td id="hex_bin_value" tabindex="7"></td>
                    <td id="hex_bin_answer"><input id="hex_bin_input" type="text" aria-label="binary input" tabindex="8"></td>
                    <td><button id="hex_bin_button" tabindex="9">Comprobar</button></td>
                    <td class="small_column" id="hex_bin_result" ></td>
                </tr>
                <tr id="hex_oct_row">
                    <td>Octal</td>
                    <td id="hex_oct_value"></td>
                    <td id="hex_oct_answer"><input id="hex_oct_input" type="text" aria-label="octal input"></td>
                    <td><button id="hex_oct_button">Comprobar</button></td>
                    <td class="small_column" id="hex_oct_result"></td>
                </tr>
                <tr id="hex_dec_row">
                    <td>Decimal</td>
                    <td id="hex_dec_value"></td>
                    <td id="hex_dec_answer"><input id="hex_dec_input" type="text" aria-label="decimal input"></td>
                    <td><button id="hex_dec_button">Comprobar</button></td>
                    <td class="small_column" id="hex_dec_result"></td>
                </tr>
            </table>
            <br>
            <table>
                <caption>Decimal</caption>
                <tr>
                    <td>Binario</td>
                    <td id="dec_bin_value"></td>
                    <td id="dec_bin_answer"><input id="dec_bin_input" type="text"></td>
                    <td><button id="dec_bin_button">Comprobar</button></td>
                    <td class="small_column" id="dec_bin_result"></td>
                </tr>
                <tr>
                    <td>Octal</td>
                    <td id="dec_oct_value"></td>
                    <td id="dec_oct_answer"><input id="dec_oct_input" type="text"></td>
                    <td><button id="dec_oct_button">Comprobar</button></td>
                    <td class="small_column" id="dec_oct_result"></td>
                </tr>
                <tr>
                    <td>Hexadecimal</td>
                    <td id="dec_hex_value"></td>
                    <td id="dec_hex_answer"><input id="dec_hex_input" type="text"></td>
                    <td><button id="dec_hex_button">Comprobar</button></td>
                    <td class="small_column" id="dec_hex_result"></td>
                </tr>
            </table>
            <br>
            <table>
                <caption>Octal</caption>
                <tr>
                    <td>Binario</td>
                    <td id="oct_bin_value"></td>
                    <td id="oct_bin_answer"><input id="oct_bin_input" type="text"></td>
                    <td><button id="oct_bin_button">Comprobar</button></td>
                    <td class="small_column" id="oct_bin_result"></td>
                </tr>
                <tr>
                    <td>Decimal</td>
                    <td id="oct_dec_value"></td>
                    <td id="oct_dec_answer"><input id="oct_dec_input" type="text"></td>
                    <td><button id="oct_dec_button">Comprobar</button></td>
                    <td class="small_column" id="oct_dec_result"></td>
                </tr>
                <tr>
                    <td>Hexadecimal</td>
                    <td id="oct_hex_value"></td>
                    <td id="oct_hex_answer"><input id="oct_hex_input" type="text"></td>
                    <td><button id="oct_hex_button">Comprobar</button></td>
                    <td class="small_column" id="oct_hex_result"></td>
                </tr>
            </table>
            <br>
            <table>
                <caption>Binario</caption>
                <tr>
                    <td>Octal</td>
                    <td id="bin_oct_value"></td>
                    <td id="bin_oct_answer"><input id="bin_oct_input" type="text"></td>
                    <td><button id="bin_oct_button">Comprobar</button></td>
                    <td class="small_column" id="bin_oct_result"></td>
                </tr>
                <tr>
                    <td>Decimal</td>
                    <td id="bin_dec_value"></td>
                    <td id="bin_dec_answer"><input id="bin_dec_input" type="text"></td>
                    <td><button id="bin_dec_button">Comprobar</button></td>
                    <td class="small_column" id="bin_dec_result"></td>
                </tr>
                <tr>
                    <td>Hexadecimal</td>
                    <td id="bin_hex_value"></td>
                    <td id="bin_hex_answer"><input id="bin_hex_input" type="text"></td>
                    <td><button id="bin_hex_button">Comprobar</button></td>
                    <td class="small_column" id="bin_hex_result"></td>
                </tr>
            </table>
        </div>
        <br>
        <br>
        <div>
            <h2 id="operaciones">Sumas y restas en binario</h2>
            <h3>Racha: <span id="sumasrestas">0</span></h3>
            <table>
                <tr class="tr-operaciones">
                    <td rowspan="3" class="small_column">+</td>
                    <td id="suma_value1"></td>
                    <td rowspan="4"></td>
                    <td class="small_column" rowspan="3">-</td>
                    <td id="resta_value1"></td>
                </tr>
                <tr>
                    <td style="background-color:var(--grey);border-bottom: var(--black) solid 1px;" id="suma_value2">
                    </td>
                    <td style="background-color:var(--grey);border-bottom: var(--black) solid 1px;" id="resta_value2">
                    </td>
                </tr>
                <tr>
                    <td><input type="text" id="suma_input"></td>
                    <td><input type="text" id="resta_input"></td>
                </tr>
                <tr>
                    <td colspan="2" style="background-color: var(--grey);"><button class="center_suma_resta"
                            id="suma_button">Comprobar</button></td>
                    <td colspan="2" style="background-color: var(--grey);"><button class="center_suma_resta"
                            id="resta_button">Comprobar</button></td>
                </tr>
                <tr>
                    <td colspan="2" id="suma_result" class="center_suma_resta_res"></td>
                    <td></td>
                    <td colspan="2" id="resta_result" class="center_suma_resta_res"></td>
                </tr>
            </table>
        </div>
        <br>
        <br>
        <div>
            <h2 id="complementos">Complemento a 1 y complemento a 2</h2>
            <h3>Racha: <span id="complementos">0</span></h3>
            <table>
                <tr id="complemento1">
                    <td>Complemento a 1</td>
                    <td id="complemento1_value"></td>
                    <td><input type="text" id="complemento1_input"></td>
                    <td><button id="complemento1_button">Comprobar</button></td>
                    <td class="small_column" id="complemento1_result"></td>
                </tr>
                <tr>
                    <td>Complemento a 2</td>
                    <td id="complemento2_value"></td>
                    <td><input type="text" id="complemento2_input"></td>
                    <td><button id="complemento2_button">Comprobar</button></td>
                    <td id="complemento2_result" class="small_column"></td>
                </tr>
            </table>
        </div>
        <footer>
            <p>&copy; 2025 Tom Galdeano.</p>
        </footer>
    </div>
    <script>
        // Utility to create a conversion exercise
        (function () {
            const light_dark = document.querySelector('#color_changer');

            function makeExercise({ valueEl, inputEl, buttonEl, resultEl, displayBase, expectedBase, randMax = 1000 }) {
                if (!valueEl || !inputEl || !buttonEl) return;
                let value = Math.floor(Math.random() * randMax);
                function render() {
                    valueEl.textContent = value.toString(displayBase);
                }
                render();

                buttonEl.addEventListener('click', function () {
                    const raw = inputEl.value.trim();
                    const ResultEl = resultEl;
                    if (!raw) {
                        ResultEl.textContent = '';
                        return;
                    }
                    // parseInt handles prefixes and bases; ensure base is correct
                    const parsed = parseInt(raw, expectedBase);
                    if (!Number.isFinite(parsed) || isNaN(parsed)) {
                        ResultEl.textContent = 'Incorrecto';
                        setTimeout(() => ResultEl.textContent = '', 2000);
                    } else if (parsed === value) {
                        ResultEl.textContent = 'Acierto';
                        value = Math.floor(Math.random() * randMax);
                        render();
                        setTimeout(() => ResultEl.textContent = '', 2000);
                    } else {
                        ResultEl.textContent = 'Incorrecto';
                        setTimeout(() => ResultEl.textContent = '', 2000);
                    }
                    inputEl.value = '';
                });
            }

            const exercises = [
                // Hex table: display hex, expect ...
                { valueEl: document.getElementById('hex_bin_value'), inputEl: document.getElementById('hex_bin_input'), buttonEl: document.getElementById('hex_bin_button'), resultEl: document.getElementById('hex_bin_result'), displayBase: 16, expectedBase: 2 },
                { valueEl: document.getElementById('hex_oct_value'), inputEl: document.getElementById('hex_oct_input'), buttonEl: document.getElementById('hex_oct_button'), resultEl: document.getElementById('hex_oct_result'), displayBase: 16, expectedBase: 8 },
                { valueEl: document.getElementById('hex_dec_value'), inputEl: document.getElementById('hex_dec_input'), buttonEl: document.getElementById('hex_dec_button'), resultEl: document.getElementById('hex_dec_result'), displayBase: 16, expectedBase: 10 },

                // Decimal table: display decimal
                { valueEl: document.getElementById('dec_bin_value'), inputEl: document.getElementById('dec_bin_input'), buttonEl: document.getElementById('dec_bin_button'), resultEl: document.getElementById('dec_bin_result'), displayBase: 10, expectedBase: 2 },
                { valueEl: document.getElementById('dec_oct_value'), inputEl: document.getElementById('dec_oct_input'), buttonEl: document.getElementById('dec_oct_button'), resultEl: document.getElementById('dec_oct_result'), displayBase: 10, expectedBase: 8 },
                { valueEl: document.getElementById('dec_hex_value'), inputEl: document.getElementById('dec_hex_input'), buttonEl: document.getElementById('dec_hex_button'), resultEl: document.getElementById('dec_hex_result'), displayBase: 10, expectedBase: 16 },

                // Octal table: display octal
                { valueEl: document.getElementById('oct_bin_value'), inputEl: document.getElementById('oct_bin_input'), buttonEl: document.getElementById('oct_bin_button'), resultEl: document.getElementById('oct_bin_result'), displayBase: 8, expectedBase: 2 },
                { valueEl: document.getElementById('oct_dec_value'), inputEl: document.getElementById('oct_dec_input'), buttonEl: document.getElementById('oct_dec_button'), resultEl: document.getElementById('oct_dec_result'), displayBase: 8, expectedBase: 10 },
                { valueEl: document.getElementById('oct_hex_value'), inputEl: document.getElementById('oct_hex_input'), buttonEl: document.getElementById('oct_hex_button'), resultEl: document.getElementById('oct_hex_result'), displayBase: 8, expectedBase: 16 },

                // Binary table: display binary
                { valueEl: document.getElementById('bin_oct_value'), inputEl: document.getElementById('bin_oct_input'), buttonEl: document.getElementById('bin_oct_button'), resultEl: document.getElementById('bin_oct_result'), displayBase: 2, expectedBase: 8 },
                { valueEl: document.getElementById('bin_dec_value'), inputEl: document.getElementById('bin_dec_input'), buttonEl: document.getElementById('bin_dec_button'), resultEl: document.getElementById('bin_dec_result'), displayBase: 2, expectedBase: 10 },
                { valueEl: document.getElementById('bin_hex_value'), inputEl: document.getElementById('bin_hex_input'), buttonEl: document.getElementById('bin_hex_button'), resultEl: document.getElementById('bin_hex_result'), displayBase: 2, expectedBase: 16 }
            ];
            //suma y resta
            function suma() {
                const result = document.getElementById("suma_result");
                const input = document.getElementById("suma_input");
                const display1 = document.getElementById('suma_value1');
                const display2 = document.getElementById('suma_value2');
                let value1 = Math.floor(Math.random() * 500);
                let value2 = Math.floor(Math.random() * 500);
                let value = value1 + value2;
                function render() {
                    display1.textContent = value1.toString(2).padStart(10, "0");
                    display2.textContent = value2.toString(2).padStart(10, "0");
                }
                render();
                document.getElementById("suma_button").addEventListener('click', function () {
                    const raw = input.value.trim();
                    if (!raw) {
                        result.textContent = '';
                        return;
                    }
                    // parseInt handles prefixes and bases; ensure base is correct
                    const parsed = parseInt(raw, 2);
                    if (!Number.isFinite(parsed) || isNaN(parsed)) {
                        result.textContent = 'Incorrecto';
                        setTimeout(() => ResultEl.textContent = '', 2000);
                    } else if (parsed === value) {
                        result.textContent = 'Acierto';
                        value1 = Math.floor(Math.random() * 500);
                        value2 = Math.floor(Math.random() * 500);
                        value = value1 + value2;
                        render();
                        setTimeout(() => result.textContent = '', 2000);
                    } else {
                        result.textContent = 'Incorrecto';
                        setTimeout(() => result.textContent = '', 2000);
                    }
                    input.value = '';
                });
            }
            suma();
            function resta() {
                const result = document.getElementById("resta_result");
                const input = document.getElementById("resta_input");
                const display1 = document.getElementById('resta_value1');
                const display2 = document.getElementById('resta_value2');
                let value1 = Math.floor(Math.random() * 1000);
                if (value1 < 200) {
                    value1 += 200;
                }
                let value2 = Math.floor(Math.random() * 1000);
                while (value2 > value1) {
                    value2 = Math.floor(Math.random() * 1000);
                }
                let value = value1 - value2;
                function render() {
                    display1.textContent = value1.toString(2).padStart(10, "0");
                    display2.textContent = value2.toString(2).padStart(10, "0");
                }
                render();
                document.getElementById("resta_button").addEventListener('click', function () {
                    const raw = input.value.trim();
                    if (!raw) {
                        result.textContent = '';
                        return;
                    }
                    // parseInt handles prefixes and bases; ensure base is correct
                    const parsed = parseInt(raw, 2);
                    if (!Number.isFinite(parsed) || isNaN(parsed)) {
                        result.textContent = 'Incorrecto';
                        setTimeout(() => ResultEl.textContent = '', 2000);
                    } else if (parsed === value) {
                        result.textContent = 'Acierto';
                        value1 = Math.floor(Math.random() * 1000);
                        if (value1 < 200) {
                            value1 += 200;
                        }
                        value2 = Math.floor(Math.random() * 1000);
                        while (value2 > value1) {
                            value2 = Math.floor(Math.random() * 1000);
                        }
                        value = value1 - value2;
                        render();
                        setTimeout(() => result.textContent = '', 2000);
                    } else {
                        result.textContent = 'Incorrecto';
                        setTimeout(() => result.textContent = '', 2000);
                    }
                    input.value = '';
                });
            }
            resta()
            // Complementos
            function complemento1() {
                const result = document.getElementById("complemento1_result");
                const input = document.getElementById("complemento1_input");
                const display = document.getElementById('complemento1_value');
                let value = Math.floor(Math.random() * 1000);
                let answer = dec2bin(~value).toString().slice(22);
                function dec2bin(dec) {
                    return (dec >>> 0).toString(2);
                }
                function render() {
                    display.textContent = value.toString(2).padStart(10, "0");
                }
                render();
                document.getElementById("complemento1_button").addEventListener('click', function () {
                    const raw = input.value.trim();
                    if (!raw) {
                        result.textContent = '';
                        return;
                    }

                    if (raw == answer) {
                        result.textContent = 'Acierto';
                        value = Math.floor(Math.random() * 1000);
                        answer = dec2bin(~value).toString().slice(22);
                        render();
                        setTimeout(() => result.textContent = '', 2000);
                    } else {
                        result.textContent = 'Incorrecto';
                        setTimeout(() => result.textContent = '', 2000);
                    }
                    input.value = '';
                });
            }
            complemento1();
            function complemento2() {
                const result = document.getElementById("complemento2_result");
                const input = document.getElementById("complemento2_input");
                const display = document.getElementById('complemento2_value');
                let value = Math.floor(Math.random() * 1000);
                let answer = dec2bin(~value + 1).toString().slice(22);
                function dec2bin(dec) {
                    return (dec >>> 0).toString(2);
                }
                function render() {
                    display.textContent = value.toString(2).padStart(10, "0");
                }
                render();
                document.getElementById("complemento2_button").addEventListener('click', function () {
                    const raw = input.value.trim();
                    if (!raw) {
                        result.textContent = '';
                        return;
                    }

                    if (raw == answer) {
                        result.textContent = 'Acierto';
                        value = Math.floor(Math.random() * 1000);
                        answer = dec2bin(~value + 1).toString().slice(22);
                        render();
                        setTimeout(() => result.textContent = '', 2000);
                    } else {
                        result.textContent = 'Incorrecto';
                        setTimeout(() => result.textContent = '', 2000);
                    }
                    input.value = '';
                });
            }
            complemento2();
            // Initialize exercises (only after DOM is ready)
            document.addEventListener('DOMContentLoaded', function () {
                exercises.forEach(cfg => makeExercise(cfg));
            });

            // theme switcher
            light_dark.addEventListener('click', function () {
                document.body.classList.toggle('dark');
            });
        })();
    </script>
</body>

</html>