/* Components / UI elements */

#color_changer {
  background-color: var(--black);
  border: 3px solid var(--white);
  border-radius: 50%;
  float: right;
  height: 20px;
  outline: 3px solid var(--black);
  position: relative;
  width: 20px;
}

.bggrey {
  background-color: #666;
  color: var(--white);
}

.box-border {
  background: var(--green);
  border: 30px solid var(--blue);
  padding: 20px;
  position: relative;
}

.box-border::before {
  content: "Border";
  font-size: 1rem;
  left: 50%;
  position: absolute;
  top: -28px;
  transform: translateX(-50%);
}

.box-content {
  margin: 0;
  position: relative;
  text-align: center;
}

.box-content::before {
  content: "Content";
  font-size: 1rem;
  left: 50%;
  position: absolute;
  top: -15px;
  transform: translateX(-50%);
}

.box-margin {
  background: var(--orange);
  margin: 40px;
  padding: 30px;
  position: relative;
}

.box-margin::before {
  content: "Outline/Margin";
  font-size: 1rem;
  left: 50%;
  position: absolute;
  top: -1px;
  transform: translateX(-50%);
}

.box-padding {
  background: var(--red);
  padding: 30px;
  position: relative;
}

.box-padding::before {
  content: "Padding";
  font-size: 1rem;
  left: 50%;
  position: absolute;
  top: -25px;
  transform: translateX(-50%);
}

.code {
  /* use class to avoid global code rule conflicts */
}

.code, code {
  color: var(--red);
  font-weight: bold;
  font-size: large;
}

.golden_link {
  color: var(--yellow);
}

.golden_link:hover {
  color: var(--yellow);
  text-decoration: underline;
}

.gold_hover {
  color: var(--black);
}

.gold_hover:hover {
  color: var(--yellow);
  text-decoration: underline;
}

.gray_link {
  color: var(--dark_gray);
}

.gray_link:hover {
  color: var(--dark_gray);
  text-decoration: none;
}

.green_hover {
  color: var(--black);
}

.green_hover:hover {
  color: var(--green);
  text-decoration: underline;
}

.green_link {
  color: var(--green);
}

.green_link:hover {
  color: var(--green);
  text-decoration: underline;
}

.h1_big {
  font-size: 3.4rem;
}

.h2_big {
  font-size: 2.8rem;
}

.h3_big {
  font-size: 1.8rem;
}

li {
  margin: 3.5px;
}

li.dashed {
  border-style: dashed;
}

li.dotted {
  border-style: dotted;
}

li.double {
  border-style: double;
}

li.groove {
  border-style: groove;
}

li.hidden {
  border-style: hidden;
}

li.inset1 {
  border-style: inset;
}

li.mix {
  border-style: dotted dashed solid double;
}

li.none {
  border-style: none;
}

li.outset1 {
  border-style: outset;
}

li.ridge {
  border-style: ridge;
}

.list_item {
  border: 1px solid var(--black);
  border-radius: 20px;
}

.main_content {
  font-size: 1.1rem;
}

.grey_bubble {
  background-color: var(--grey);
  border-radius: 20px;
}
.green_button {
    background-color: var(--grey);
    border-radius: 20px;
    border: 1px solid var(--black);
    color: var(--black);
}

.green_button:hover {
    background-color: var(--green);
    color: var(--white);
}