<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="easy.css">
</head>
<body>
    <div id="boxes">
        <div class="box">
            <div id="box1" class="ch_box">

            </div>
        </div>
        <div class="box">
            <div id="box2" class="ch_box">

            </div>
        </div>
        <div class="box">
            <div id="box3" class="ch_box">

            </div>
        </div>
        <div class="box">
            <div id="box4" class="ch_box">

            </div>
        </div>
                <div class="box">
            <div id="box4" class="ch_box">

            </div>
        </div>
                <div class="box">
            <div id="box4" class="ch_box">

            </div>
        </div>
    </div>
</body>
</html>