<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="easy.css">
</head>

<body>
    <div id="boxes">
        <div style="width: 100%; text-align: center;"><h1>CSS CHALLENGES</h1></div>
        <div style="width: 100%; text-align: center;"><h2>Easy</h2></div>
        <div class="box">
            <div id="box1" class="ch_box">

            </div>
        </div>
        <div class="box">
            <div id="box2" class="ch_box">

            </div>
        </div>
        <div class="box">
            <div id="box3" class="ch_box">

            </div>
        </div>
        <div class="box">
            <div id="box5" class="ch_box">

            </div>
        </div>
        <div class="box">
            <div id="box6" class="ch_box">

            </div>
        </div>
        <div class="box">
            <div id="box7" class="ch_box">

            </div>
        </div>
               <div class="box">
            <div id="box8" class="ch_box">

            </div>
        </div>
        <div class="box">
            <div id="box9" class="ch_box">

            </div>
        </div>
        <div class="box">
            <div id="box10" class="ch_box">

            </div>
        </div>
        <div class="box">
            <div id="box11" class="ch_box">

            </div>
        </div>
    </div>
</body>

</html>