
#box1::before{
    content:"Hello World";    
}
#box2{
  overflow:visible;
}
#box2::before{
  margin-top: -40px;
  margin-right: -78px;
  content: "Hello";

}
#box2::after{
  margin-top: 40px;
  content: "World";
}
#box3{
  --s: 100px; /* control the size */
  --c: #222;
  background:conic-gradient(at 50% var(--s),var(--c) 50%,#0000 0);
}
#box3:before{
  content: "Hello";
  margin:10px;
}
#box3:after{
  margin:10px;
  content: "World";
  color: white;
}
#box4:after{
  content:"Hello World";
  color: white;
  text-shadow: 0px 0px 3px black, 0px 0px 2px black;
}
#box5::after{
  background: linear-gradient(to right,black,white);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  content: "Hello World";
}
#box6::before{
  content:"Hello";
}
#box6::after{
  content:"World";
  transform: rotateZ(180deg) rotateY(180deg) translateY(5px);
}
#box7{
  background-color: green;
  width:150px;
  height:150px;
}
#box8{
  background-color: green;
  width:200px;
  height:50px;
  border-radius: 50px;
}

#box9::after{
  content:"";
        width: 100px;
      height: 100px;
      border: 20px solid green;
      border-radius: 50%;
      position: relative;
      transform: translateX(-20%);
}
#box9::before{
  content:"";
      width: 10px;
      height: 10px;
      border: 20px solid green;
      border-radius: 50%;
      position: relative;
      transform: translateX(134%);
      background-color: green;
}
#box9{
      content:"";
      width: 200px;
      height: 200px;
      border: 20px solid green;
      border-radius: 50%;
      position: relative;
}
#box10{
  background-color: green;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
#box10:before{
  content:"";
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
  transform: translateX(20px) translateY(-20px);
}
#box11::before{
  content: "";
  width: 150px;
  height: 50px;
  border-bottom: 30px solid green;
  border-top: 30px solid green;
  border-right: 30px solid green;
  transform: translateX(90px) translateY(20px);
}
#box11::after{
  content: "";
  width: 150px;
  height: 50px;
  border-bottom: 30px solid green;
  border-top: 30px solid green;
  border-left: 30px solid green;
  transform: translateX(-90px) translateY(-20px);
}
#box12::after{
  content: "";
  width: 50px;
  height: 50px;
  border-bottom: 30px solid white;
  transform: translateX(-75px) translateY(-90px);
}
#box12::before{
  content: "";
  width: 100px;
  height: 100px;
  border: 30px solid green;
  transform: translateX(30px) translateY(-0px);
}

#box13::after{
  content: "";
  width: 20px;
  height: 80px;
  border: 10px solid white;
  background-color: green;
  border-radius: 20px;
  transform: translateX(-70px) translateY(-40px);
}
#box13::before{
  content: "";
  width: 100px;
  height: 100px;
  border: 20px solid green;
  border-radius: 50%;
  transform: translateX(20px) translateY(-0px);
}
#box14:before{
  content:"";
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 20px dotted wheat;

}
#box14:before{
  content:"";
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 20px dotted wheat;

}
#box14{
  width: 150px;
  height: 150px;
  background-color: green;
  border-radius: 50%;
  border: 19px dotted white;
}

/* HTML: <div class="triangle"></div> */
