:root {
    --green: #15400a;
    --white: #FFFFFF;
    --black: #000000;
    --grey: #cacaca;
    --blue: #051f8a;
    --red: #a80101;
    --dark_gray: #929292;
    --yellow:gold;
    --orange:#ff9800;
}

.dark {
    --red: #fc5656;
    --green: #00ff00;
    --grey: #363636;
    --black: #FFFFFF;
    --white: #000000;
    --blue: aqua;
    --dark_gray: #7c7c7c;
    --yellow: #f6fa07;
    --orange:#fcb852;
}

#color_changer {
    position: relative;
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--black);
    border: 3px solid var(--white);
    outline: 3px solid var(--black);
}
body{
  height: 100vh;
  color: var(--black);
}
.red_hover:hover{color: var(--red);}
.blue_hover:hover{color: var(--blue);}
.green_hover:hover{color:var(--green);}
.gold_hover:hover{color: var(--yellow);}
.red_hover{color:var(--white)}
.blue_hover{color:var(--white);}
.green_hover{color: var(--white);}
.gold_hover{color: var(--white);}
.golden_link{color: var(--yellow);}
.golden_link:hover{
  color: var(--yellow);
  text-decoration: none;
}
.green_link{
  color: var(--black);
}
.green_link:hover{
  background-color:var(--green);
  color: var(--white);
}
.list_item{
  border-radius: 20px;
  border: 1px solid var(--black);
}
.gray_link{color: var(--dark_gray);}
.gray_link:hover{
  color: var(--dark_gray);
  text-decoration: none;
}
div.mycontainer {
  width:100%;
  overflow:auto;
}
div.mycontainer div {
  width:33.3%;  
  float:left;
}
.parent-inline {
  font-size: 0;
}
.linediv {
  width:33.3%;  
  display:inline-block;
  font-size: 16px; /* reset to normal */
}
.mycontainer2 {
  display: flex;
}
.mycontainer2 > div {
  width:33.3%;
}
.grid-container {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;}
.main_content {font-size:1.1rem;}
.h2_big {font-size:2.8rem;}
.h3_big {font-size: 1.8rem;}
.h1_big{font-size:3.4rem;}
li.dotted {border-style: dotted;}
li.dashed {border-style: dashed;}
li.solid {border-style: solid;}
li.double {border-style: double;}
li.groove {border-style: groove;}
li.ridge {border-style: ridge;}
li.inset1 {border-style: inset;}
li.outset1 {border-style: outset;}
li.none {border-style: none;}
li.hidden {border-style: hidden;}
li.mix {border-style: dotted dashed solid double;}
#box-example {
  margin: 40px auto;
  width: 300px;
  position: relative;}
.box-margin {
  background: var(--orange);
  margin: 40px;
  padding: 30px;
  position: relative;}
.box-margin::before {
  content: "Outline/Margin";
  position: absolute;
  top: -1px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;}
.box-border {
  background: var(--green);
  padding: 20px;
  border: 30px solid var(--blue);
  position: relative;}
.box-border::before {
  content: "Border";
  position: absolute;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;}
.box-padding {
  background: var(--red);
  padding: 30px;
  position: relative;}
.box-padding::before {
  content: "Padding";
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;}
.box-content {
  margin: 0;
  text-align: center;
  position: relative;}
.box-content::before {
  content: "Content";
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;}
code{
  color: var(--red);
  font-weight: bold;
  font-size: large;
  }
  li{
    margin: 3.5px;
  }
html, body {
    margin: 0;
    padding: 0;
    background: var(--white);
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.img-clearfix{
  float: left;
}
.div-clearfix{
  border:1px solid var(--black); padding:10px; margin:10px;
}
table {
    border: 1px solid var(--black);
    border-spacing: 0px;
}

caption {
    font-weight: bold;
    font-size: x-large;
}

td {
    min-width: 70px;
    padding: 5px;

}
a:focus, a:focus-visible{
  outline: 1px solid var(--green);
}