i{% include "links.html" %}
<style>
  canvas {
    background-color: slategrey;
    border-radius: 8px;
    display: block;
  }
</style>
{% include "header.html" %}
<div class="row justify-content-center container d-flex mx-auto">
<canvas id="hexCanvas" width="1200" height="600" class="d-none d-lg-block"></canvas>
<p class="plain-p text-center d-block d-lg-none no-game">
  Por desgracia este juego
  no esta disponible en pantallas pequeñas
</p>
<p class="plain-p text-center d-block d-lg-none no-game">
  Por desgracia este juego
  no esta disponible en pantallas pequeñas
</p>
</div>
{% include "footer.html" %}