{% include "links.html" %}
<style>
    canvas {
      background-color: slategrey;
      border-radius: 8px;
      display: block;
      margin: 20px auto;
    }
    #gameContainer {
      text-align: center;
    }
    #score {
      font-size: 24px;
      color: white;
      margin: 10px;
    }
    .difficulty-buttons {
      margin: 20px;
    }
    .difficulty-buttons button {
      margin: 0 10px;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      background-color: var(--grey);
      color: black;
    }
    .difficulty-buttons button:hover {
      background-color: var(--green);
      color: var(--white);
    }
</style>
{% include "header.html" %}
<div class="row justify-content-center container d-flex mx-auto">
  <h1>Carrera de obstáculos</h1>
</div>
<div class="row justify-content-center container d-flex mx-auto game-area">
  <div id="gameContainer">
    <div id="score">Puntuación: 0</div>
    <canvas id="runCanvas" width="1200" height="600" class="d-none d-lg-block"></canvas>
    <p class="plain-p text-center d-block d-lg-none no-game">
  Por desgracia este juego
  no está disponible en pantallas pequeñas
</p>
  </div>
</div>
<div class="row justify-content-center container d-flex mx-auto difficulty-buttons d-none d-lg-block" id="difficultyButtons">
  <button onclick="setDifficulty('easy')" class="d-none d-lg-block game-button">Fácil</button>
  <button onclick="setDifficulty('medium')" class="d-none d-lg-block game-button">Medio</button>
  <button onclick="setDifficulty('hard')" class="d-none d-lg-block game-button">Difícil</button>
  <button onclick="setDifficulty('hell')" class="d-none d-lg-block game-button">Infierno</button>
</div>

<script src="{{ url_for('static', filename='js/obstacleRun.js') }}"></script>
{% include "footer.html" %}