{% include "links.html" %}
<style>
  canvas {
    background-color: green;
    border-radius: 8px;
    display: block;
  }
</style>
{% include "header.html" %}
<div class="row justify-content-center container d-flex mx-auto">
  <h1>Solitaire</h1>
</div>
<div class="row justify-content-center container d-flex mx-auto ">
<canvas id="solitaireCanvas" width="800" height="1000" class="d-none d-lg-block"></canvas>
<p class="plain-p text-center d-block d-lg-none no-game">
  Por desgracia este juego
  no esta disponible en pantallas pequeñas
</p>
<script src="{{ url_for('static', filename='js/solitaire.js') }}"></script>
</div>
{% include "footer.html" %}