<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/style.css">
    <title>Document</title>
    <style>
        td {

            min-width: 50px;
            min-height: 50px;
            height: 50px;
            width: 50px;
            border: 1px solid var(--black);
            text-align: center;
            font-size: 2.5rem;
        }

        div {
            text-align: center;
        }

        .posible_move:hover {
            background-color: var(--grey);
            color: var(--blue);
        }
    </style>
</head>

<body>
    <div>
        <h1>Tres en raya</h1>
        <table>
            <tr>
                <td id="pos0">

                </td>
                <td id="pos1">

                </td>
                <td id="pos2">

                </td>
            </tr>
            <tr>
                <td id="pos3">

                </td>
                <td id="pos4">

                </td>
                <td id="pos5">

                </td>
            </tr>
            <tr>
                <td id="pos6">

                </td>
                <td id="pos7">

                </td>
                <td id="pos8">

                </td>
            </tr>
        </table>
        <div>
            <button id="new_game">Nueva Partida</button>
            <p id="victory"></p>
        </div>

    </div>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
        const new_game = getElementById
        const tablero =
            [document.getElementById("pos0"), document.getElementById("pos1"),
            document.getElementById("pos2"), document.getElementById("pos3"),
            document.getElementById("pos4"), document.getElementById("pos5"),
            document.getElementById("pos6"), document.getElementById("pos7"),
            document.getElementById("pos8")];
        let partida = [];
        function StartGame() {
            for (let i = 0; i < tablero.length; i++) {
                tablero[i].textContent = " ";
                tablero[i].classList.add("possible_move")
                partida[i] = ' ';
            }
        }
        StartGame();
        function make_move(pos) {
                tablero[pos].textContent = 'X';
                tablero[pos].classList.remove("possible_move")
                partida[i] = 0

    }
        function computer_move(board) {
            // temporary stupid algorithm
            for (let i = 0; i < array.length; i++) {
                if(partida[i]=' '){
                    tablero[i].textContent="O";
                    partida[i]='O';
                }                   
                
            }

        }

        function human_won(board) {
            let victory = false;
            if (partida[0] == 'X' && partida[1] == 'X' && partida[2] == 'X') { // fila 1
                victory = true;
            } else if (partida[3] == 'X' && partida[4] == 'X' && partida[5] == 'X') { // fila 2
                victory = true;
            } else if (partida[6] == 'X' && partida[7] == 'X' && partida[8] == 'X') { // fila 3
                victory = true;
            } else if (partida[0] == 'X' && partida[3] == 'X' && partida[6] == 'X') { // columna 1
                victory = true;
            } else if (partida[1] == 'X' && partida[4] == 'X' && partida[7] == 'X') { // columna 2
                victory = true;
            } else if (partida[2] == 'X' && partida[5] == 'X' && partida[8] == 'X') { // columna 3
                victory = true;
            } else if (partida[0] == 'X' && partida[4] == 'X' && partida[8] == 'X') { // diagonal 1
                victory = true;
            } else if (partida[2] == 'X' && partida[4] == 'X' && partida[6] == 'X') { // diagonal 2
                victory = true;
            }
            if (victory){
                document.getElementById("victory").textContent = "You won";
            }
            return victory;
        }

        function computer_won(board) {
            let victory = false;
            if (partida[0] == 'X' && partida[1] == 'O' && partida[2] == 'O') { // fila 1
                victory = true;
            } else if (partida[3] == 'O' && partida[4] == 'O' && partida[5] == 'O') { // fila 2
                victory = true;
            } else if (partida[6] == 'O' && partida[7] == 'O' && partida[8] == 'O') { // fila 3
                victory = true;
            } else if (partida[0] == 'O' && partida[3] == 'O' && partida[6] == 'O') { // columna 1
                victory = true;
            } else if (partida[1] == 'O' && partida[4] == 'O' && partida[7] == 'O') { // columna 2
                victory = true;
            } else if (partida[2] == 'O' && partida[5] == 'O' && partida[8] == 'O') { // columna 3
                victory = true;
            } else if (partida[0] == 'O' && partida[4] == 'O' && partida[8] == 'O') { // diagonal 1
                victory = true;
            } else if (partida[2] == 'O' && partida[4] == 'O' && partida[6] == 'O') { // diagonal 2
                victory = true;
            }
            if (victory){
                document.getElementById("victory").textContent = "Game Over";
            }
            return victory;
        }
        function possible_move(pos){
            if (partida[pos]=' ') {
                return true;
            }
        } return false;


        function is_draw(board) {
            let draw = true;
            for (let i = 0; i < length(tablero) < i; i++) {
                if (board[i] == ' ') {
                    draw = false;
                }

            }
            if (draw) {
                document.getElementById("victory").textContent = "draw";
            }
            return draw
        }
        function game_action(pos){
            if(possible_move(pos)){
                make_move(pos)
            }
            if(!(human_won(partida) || computer_won(partida) || is_draw(partida))){
                computer_move();
            }
            

        }

        for(let i=0;partida.length;i++){
            tablero[i].addEventListener(onclick(), game_action(i))
        }
    new_game.add_event_listener(onclick(), StartGame())
    })
    </script>
</body>

</html>