{% include "links.html" %}
<style>


  @media (min-width: 300px) {
    .time{font-size: 2rem;}
  }
    @media (min-width: 1000px){
  .time {
    font-size: 3rem;
  }
  }

</style>
{% include "header.html" %}

<body>
  <div class="justify-content-center container d-flex mx-auto">
    <h1 class="text-center h1_big">Some countdown's to keep me hopeful</h1>
  </div>
  <!DOCTYPE html>
  <div class="justify-content-center container d-flex mx-auto">
    <h2 class="h2_big text-center">Countdown to our hopeful graduation</h2>
  </div>
  <div id="countdown" class="time container d-flex mx-auto justify-content-center"></div>
  <div class="mt-5 justify-content-center container d-flex mx-auto">
    <h2 class="h2_big text-center">Countdown to 30th birthday</h2>
  </div>
  <div id="countdown0" class="time container d-flex mx-auto justify-content-center"></div>

  <script>
    const targetDate = new Date("{{ hope_graduation }}Z");
    const targetDate0 = new Date("{{ birth30 }}Z"); function updateCountdown() {
      const now = new Date();
      const diff = targetDate - now;
      if (diff <= 0) {
        document.getElementById('countdown').textContent = "Time's up!";
        return;
      }
      const days = Math.floor(diff / (1000 * 60 * 60 * 24));
      const hours = Math.floor((diff / (1000 * 60 * 60)) % 24);
      const minutes = Math.floor((diff / (1000 * 60)) % 60);
      const seconds = Math.floor((diff / 1000) % 60);
      const diffs = targetDate0 - now;
      if (diffs <= 0) {
        document.getElementById('countdown').textContent = "Time's up!";
        return;
      }
      const days0 = Math.floor(diffs / (1000 * 60 * 60 * 24));
      const hours0 = Math.floor((diffs / (1000 * 60 * 60)) % 24);
      const minutes0 = Math.floor((diffs / (1000 * 60)) % 60);
      const seconds0 = Math.floor((diffs / 1000) % 60);
      document.getElementById('countdown0').textContent = `${days0}d ${hours0}h ${minutes0}m ${seconds0}s`;
      document.getElementById('countdown').textContent = `${days}d ${hours}h ${minutes}m ${seconds}s`;
    }
    updateCountdown();
    setInterval(updateCountdown, 1000);

  </script>
  {% include"footer.html" %}