{% include "links.html" %}
{% include "header.html" %}

<div class="justify-content-center container d-flex mx-auto">
    <h1 class="text-center h1_big">Juegos en JS</h1>
</div>
<div>
    <p class="text-center plain-p"> Esta página sirve para mostrar y entrenar mis habilidades de programación mediante la creación de juegos</p>
</div>
<div class="justify-content-center container d-flex mx-auto">
    <ul class="list-group">
        <li class="text-center plain-li"><a href="{{url_for('tresenraya')}}" class="green_link">Tres en raya</a></li>
        <li class="text-center plain-li"><a href="{{url_for('sudoku')}}" class="green_link">Sudoku</a></li>
        <li class="text-center plain-li"><a href="{{url_for('blackjack')}}" class="green_link">Blackjack</a>
        </li>
        <li class="text-center plain-li"><a href="{{url_for('solitaire')}}" class="green_link">Solitario</a></li>
        <li class="text-center plain-li"><a href="{{url_for('buscaminas')}}" class="green_link">Buscaminas</a></li>
        <li class="text-center plain-li"><a href="{{url_for('adivinaNum')}}" class="green_link">Adivina el número</a></li>
        <li class="text-center plain-li"><a href="{{url_for('hexKingdom')}}" class="green_link">Reinos hexagonales</a></li>
        <li class="text-center plain-li"><a href="{{url_for('obstacleRun')}}" class="green_link">Carrera de obstáculos</a></li>
        <li class="text-center plain-li"><a href="{{url_for('spaceInvaders')}}" class="green_link">Space Invaders</a></li>
        <li class="text-center plain-li"><a href="{{url_for('tute')}}" class="green_link">Tute</a></li>
        <li class="text-center plain-li"><a href="{{url_for('bottleSort')}}" class="green_link">Water Sort (Llenado de botellas)</a></li>
    </ul>
</div>
{% include"footer.html" %}