  <title>Tom's reportoire</title>
</head>
<body class="d-flex flex-column min-vh-100 justify-content-between">
<nav class="navbar navbar-expand-sm bg-secondary">    
  <div class="container-fluid bg-secondary">
    <ul class="nav justify-content-start">
      <li class="nav-item text-white bg-secondary">
        <a class="nav-link green_hover" href="{{ url_for('home') }}">Home</a>
      </li>
      <li class="nav-item text-white bg-secondary">
        <a class="nav-link green_hover" href="{{ url_for('pj_personal') }}">Projects</a>
      </li>
      <li class="nav-item text-white bg-secondary">
        <a class="nav-link green_hover" href="{{ url_for('clock') }}">Clock</a>
      </li>
    </ul>
    <button id="color_changer"></button>
  </div>
</nav>