{% include "header.html" %}
<div class="container-fluid " style = "margin-top:100px">
    <div class="row justify-content-md-center container d-flex mx-auto">
<h1 class="text-center" style="font-size: 3.4rem;">About</h1>
<p class="text-center" style="font-size: 1.2rem;"> 
    Welcome to the Tom's Website. This is a place where you can remember all the things you have learned about hacking, from websites to exploits, and even VPNs
</p>
 <p class="text-center" style="font-size: 1.2rem;">    
    It is also meant to be a platform from where to hack from integrating varios tools in a easy web ui so that hacking tools are seamilessly integrated into a single platform.
</p>
<p class="text-center" style="font-size: 1.2rem;"> 
    The last objective is to provide a services to simplify and enhance our life.
</p>
</div>
</div>
</body>
</html>
