{% include "links.html" %}
{% include "header.html" %}

<div class="row justify-content-center container d-flex mx-auto">
  <h1 class="h1_big text-center">Ordered Websites</h1>
</div>
<div class="row justify-content-center container d-flex mx-auto">
  <div>
  <div class="row justify-content-center container d-flex mx-auto">
    <h2 class="text-center h2_big">Made for Courses</h2>
  </div>
  <div class="row justify-content-center container d-flex mx-auto">
    <ul class="list-group">
      <li class="text-center main_content plain-li"><a href="{{url_for('practicaBackup')}}" target="self" class="green_link">Practica Backup</a></li>
      <li class="text-center main_content plain-li"><a href="{{url_for('AzureSands')}}" target="_self" class="green_link">Azure Sands</a></li>
      <li class="text-center main_content plain-li"><a href="{{url_for('BananaTracker')}}" target="_self" class="green_link">Banana Tracker</a></li>
    </ul>
  </div>
</div>
</div>


{% include"footer.html" %}