{% include "links.html" %}
{% include "header.html" %}
<div class="justify-content-center container d-flex mx-auto">
  <h1 class="text-center h1_big">Webs personales</h1>
</div>
<div class="justify-content-center container d-flex mx-auto">
  <p class="text-center main_content plain-p">Sitios web creados para uso personal o por diversión</p>
</div>
<div class="justify-content-center container d-flex mx-auto">
  <h2 class="h2_big text-center">Implementaciones básicas</h2>
</div>
<div class="justify-content-center container d-flex mx-auto">
  <ul class="list-group">
    <li class="text-center main_content plain-li"><a href="{{ url_for('divShow')}}" target="_self"
        class="green_link">Demostración de Divs</a></li>
    <li class="text-center main_content plain-li"><a href="{{ url_for('built_in_api')}}" target="_self"
        class="green_link">Demostración de APIs integradas</a></li>
  </ul>
</div>
<div class="row justify-content-center container d-flex mx-auto">
  <h2 class="h2_big text-center">Proyectos</h2>
</div>
<div class="row justify-content-center container d-flex mx-auto">
  <ul class="list-group">
    <li class="text-center main_content plain-li"><a href="https://tomgaldeano.github.io/TomGaldeano/" target="_blank" class="green_link">CV</a></li>
    <li class="text-center main_content plain-li"><a href="https://www.breadtombakery.com/Es" target="_blank"
        class="green_link">Web de la Panadería</a></li>
    <li class="text-center main_content plain-li"><a href="{{ url_for('CssChallenges') }}" target="_self" class="green_link">Retos de CSS</a></li>
  </ul>
</div>
<div class="row justify-content-center container d-flex mx-auto">
  <h2 class="h2_big text-center">Material de estudio</h2>
</div>
<div class="row justify-content-center container d-flex mx-auto">
  <ul class="list-group">
    <li class="text-center main_content plain-li"><a href="{{ url_for('operacionesBinarias')}}" target="_self"
        class="green_link">Operaciones binarias</a></li>
    <li class="text-center main_content plain-li"><a href="{{ url_for('gestionProcesos')}}" target="_self"
        class="green_link">Gestión de procesos</a></li>
  </ul>
</div>

{% include"footer.html" %}