<nav class="navbar navbar-expand-sm " style="background-color: #545860;">
  <div class="container-fluid" style="background-color: #545860;">
    <ul class="nav  justify-content-start">
        <li class="nav-item text-white" style="background-color: #545860;">
            <a class="nav-link text-white" href="{{ url_for('pj_personal')}}">Personal Websites</a>
        </li>
        <li class="nav-item green_hover" style="background-color: #545860">
          <a class="nav-link green_hover" href="{{ url_for('pj_games')}}">Games</a>
        </li>
        <li class="nav-item green_hover" style="background-color: #545860;">
          <a class="nav-link " href="{{ url_for('pj_ordered')}}">Ordered Websites</a>
        </li>
    </ul>
  </div>
</nav>
</body>
</html>
