{% include "header.html" %}
{% include "pj_header.html" %}
<div class="container-fluid " style = "margin-top:100px">
<div class="row justify-content-md-left container d-flex mx-auto">
  <h1 class="text-center" style="font-size: 3.4rem;">HTML</h1>
</div>
<div class="row justify-content-left container d-flex mx-auto">
  <p class="text-left" style="font-size: 1.2rem;">WEbsites made for personal use or for fun</p>
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
  <h1 class="text-left" style="font-size: 3.4rem;">Basic implementations</h1>
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
  <ul>
    <li class="text-left" style="font-size: 1.2rem;"><a href="{{ url_for('pj_per_div')}}" target="_self" class="golden_link" >Div showcase</a></li>
    <li class="text-left" style="font-size: 1.2rem;"><a href="{{ url_for('pj_per_built_in_api')}}" target="_self" class="golden_link" >Built in API showcase</a></li>
  </ul>
</div>  
<div class="row justify-content-md-left container d-flex mx-auto">
  <h1 class="text-left" style="font-size: 3.4rem;">Projects</h1> 
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
  <ul>
    <li class="text-left" style="font-size: 1.2rem;"><a href="https://www.breadtombakery.com/Es" target="_blank" class="golden_link" >Bread Website</a></li>
  </ul>
</div> 
</body>
</html>