{% include "header.html" %}
{% include "prog_header.html" %}
<div class="container-fluid " style = "margin-top:100px">
<div class="row justify-content-md-left container d-flex mx-auto">
  <h1 class="text-center" style="font-size: 3.4rem;">HTML</h1>
</div>
<div class="row justify-content-left container d-flex mx-auto">
<div>
  <p class="text-left" style="font-size: 1.2rem;"> 
  To note down stuff i don't remember when looking <a href="https://www.w3schools.com/html" target="_blank" class="golden_link" >at w3 schools</a> w3 schools guide and school
  </p>
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
  <h1 class="text-left" style="font-size: 3.4rem;">Theory</h1> 
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
  <ul>
    <li class="text-left" style="font-size: 1.2rem;">Empty elements dont have a closing tabs </li>
    <li class="text-left" style="font-size: 1.2rem;">Elements are not case senitive </li>
    <li class="text-left" style="font-size: 1.2rem;">include the lang attribute inside the &lthtml&gt tag, to declare the language of the Web page. This is meant to assist search engines and browsers </li>
    <li class="text-left" style="font-size: 1.2rem;">Atributes go inside an element to add or define its behaviour and appearance </li>
    <li class="text-left" style="font-size: 1.2rem;">Html paragraphs start in a new line </li>
    <li class="text-left" style="font-size: 1.2rem;">A block-level element always starts on a new line, and the browsers automatically add some space before and after the element. They always take up the full width available </li>
    <li class="text-left" style="font-size: 1.2rem;">Block-Elemnts:&ltaddress&gt &ltarticle&gt &ltaside&gt &ltblockquote&gt &ltcanvas&gt &ltdd&gt &ltdiv&gt &ltdl&gt &ltdt&gt &ltfieldset&gt &ltfigcaption&gt &ltfigure&gt &ltfooter&gt &ltform&gt &lth1&gt-&lth6&gt &ltheader&gt &lthr&gt &ltli&gt &ltmain&gt &ltnav&gt &ltnoscript&gt &ltol&gt &ltp&gt &ltpre&gt &ltsection&gt &lttable&gt &lttfoot&gt &ltul&gt &ltvideo&gt.</li>
    <li class="text-left" style="font-size: 1.2rem;">An inline element does not start on a new line, and only takes up as much width as necess</li>
    <li class="text-left" style="font-size: 1.2rem;">Inline elements: &lta&gt &ltabbr&gt &ltacronym&gt &ltb&gt &ltbdo&gt &ltbig&gt &ltbr&gt &ltbutton&gt &ltcite&gt &ltcode&gt &ltdfn&gt &ltem&gt &lti&gt &ltimg&gt &ltinput&gt &ltkbd&gt &ltlabel&gt &ltmap&gt &ltobject&gt &ltoutput&gt &ltq&gt &ltsamp&gt &ltscript&gt &ltselect&gt &ltsmall&gt &ltspan&gt &ltstrong&gt &ltsub&gt &ltsup&gt &lttextarea&gt &lttime&gt &lttt&gt &ltvar&gt </li>
    <li class="text-left" style="font-size: 1.2rem;">div styling can be seen <a href="https://www.w3schools.com/html/html_div.asp" class="golden_link">here</a></li>
    <li class="text-left" style="font-size: 1.2rem;">float and flexbox styling can be seen <a href="https://www.w3schools.com/html/html_layout.asp" st></a></li>
    <li class="text-left" style="font-size: 1.2rem;">charecters can be infroduced with a special name or with encoding in hex or decimal and can be refenrenced <a href="https://www.w3schools.com/charsets/ref_html_utf8.asp" class="golden_link">here</a></li>
    <li class="text-left" style="font-size: 1.2rem;">A commonly used HTML entity is the non-breaking space: &ampnbsp, the ampersand &ampamp &amp#38 (hex), &lt &amplt &gt &ampgt</li>
    <li class="text-left" style="font-size: 1.2rem;">Diacritical marks can be used in combination with alphanumeric characters to produce a character that is not present in the character set (encoding) used in the page ̃ 	a 	a&#771 a&amp#771</li>
    <li class="text-left" style="font-size: 1.2rem;">Only MP4, WebM, and Ogg video are supported by the HTML standard.</li>
    <li class="text-left" style="font-size: 1.2rem;">Only MP3, WAV, and Ogg audio are supported by the HTML standard.</li>
    <li class="text-left" style="font-size: 1.2rem;">All browsers have a set of built-in Web APIs to support complex operations, and to help accessing data. <a href="" class="golden_link">They use js here is some examples</a></li>
  </ul> 
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
  <h1 class="text-left" style="font-size: 3.4rem;">Style guide</h1> 
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
  <ul>
    <li class="text-left" style="font-size: 1.2rem;">Always specify the alt attribute for images. This attribute is important if the image for some reason cannot be displayed.</li>
    <li class="text-left" style="font-size: 1.2rem;">&ltmeta charset="utf-8" /&gtIf you expect XML/XHTML software to access your page, keep the closing slash (/), because it is required in XML and XHTML.</li>
    <li class="text-left" style="font-size: 1.2rem;">Some web servers (Apache, Unix) are case sensitive about file names: "london.jpg" cannot be accessed as "London.jpg". </li>
    <li class="text-left" style="font-size: 1.2rem;">Chromium browsers do not allow autoplay in most cases. However, muted autoplay is always allowed.</li>
  </ul>
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
  <h1 class="text-left" style="font-size: 3.4rem;">Elements</h1> 
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
  <ul>
    <li class="text-left" style="font-size: 1.2rem;">&ltbr&gt makes a horizontal white space it is an empty element </li>
    <li class="text-left" style="font-size: 1.2rem;">&lthr&gt makes a horizontal line across the screen </li>
    <li class="text-left" style="font-size: 1.2rem;">&ltstrong&gt and &ltb&gt - <b>Bold text</b></p>     
    <li class="text-left" style="font-size: 1.2rem;">&lti&gt and &ltem&gt - <i>Italic text</i> </li>
    <li class="text-left" style="font-size: 1.2rem;">&ltmark&gt - <mark>marked text</mark> </li>
    <li class="text-left" style="font-size: 1.2rem;">&ltsmall&gt - <small>Smaller text</small> </li>
    <li class="text-left" style="font-size: 1.2rem;">&ltdel&gt - <del>Deleted text</del> </li>
    <li class="text-left" style="font-size: 1.2rem;">&ltins&gt - <ins>Inserted text</ins> </li>
    <li class="text-left" style="font-size: 1.2rem;">&ltsub&gt - <sub>subscript text</sub> </li>
    <li class="text-left" style="font-size: 1.2rem;">&ltsup&gt - <sup>Superscript text</sup></li> </li>
    <li class="text-left" style="font-size: 1.2rem;"><blockquote cite="http://www.worldwildlife.org/who/index.html">&ltblockquote cite="http://www.worldwildlife.org/who/index.html"&gt&lt/blockquote&gtDefines a bolck of text quoted from a source</blockquote> </li> 
    <li class="text-left" style="font-size: 1.2rem;">&ltq&gt&lt/q&gt<q>short quotes</q> </li>
    <li class="text-left" style="font-size: 1.2rem;">&ltabbr&gt&lt/abbr&gt<abbr title="World Health Organization">WHO</abbr> abbreviation</li>
    <li class="text-left" style="font-size: 1.2rem;">&ltcite&gt&lt/cite&gt<cite> tag defines the title of a creative work</cite></li>
    <li class="text-left" style="font-size: 1.2rem;">&ltbdo dir="rtl"&gt&lt/bdo&gt<bdo dir="rtl">Hello world</bdo></li>
    <li class="text-left" style="font-size: 1.2rem;"> &ltimg src="workplace.jpg" alt="Workplace" usemap="#workmap"&gt sets up image to use as map where you can click on parts of the images as links </li>
      <ul>
        <li class="text-left" style="font-size: 1.2rem;">&ltmap name="workmap"&gt</map></li>
        <li class="text-left" style="font-size: 1.2rem;">&ltarea shape="poly" coords="40,259,103,161,128,147" alt="Phone" href="phone.htm"&gt coords of vertices</li>
        <li class="text-left" style="font-size: 1.2rem;">&ltarea shape="rect" alt="Computer" href="computer.htm"&gt right top coords and bottom left coords</li>
        <li class="text-left" style="font-size: 1.2rem;">&ltarea shape="circle" coords="337,300,44" alt="Coffee" href="coffee.htm"&gt center coords and radius</li>
        <li class="text-left" style="font-size: 1.2rem;">if shape is set to default the image area to click is the whole image. Coords a relative to top right corer and are positve </li>
        <li class="text-left" style="font-size: 1.2rem;">&lt/map&gt</li>
      </ul>z
    <li class="text-left" style="font-size: 1.2rem;">&ltpicture&gt used to specify image based on the scrren size and for format support</li>
    <ul>
      <li class="text-left" style="font-size: 1.2rem;">&ltsource media="(min-width: 650px)" srcset="img_food.jpg"&gt</li>
      <li class="text-left" style="font-size: 1.2rem;">&ltsource media="(min-width: 465px)" srcset="img_car.jpg"&gt</li>
      <li class="text-left" style="font-size: 1.2rem;">&ltimg src="img_girl.jpg"&gt&lt/picture&gt</li> 
    </ul>
    <li class="text-left" style="font-size: 1.2rem;">&ltcaption&gtTable haeader&lt/caption&gt can be put in after &lttable&gt to set a table header</li>
    <li class="text-left" style="font-size: 1.2rem;">&ltcolgroup&gt&ltcol span="2" style="background-color: #D6EEEE"&gt&lt/colgroup&gt serves to make grupes of consecutive comuns to style and modify together empty ones can be made to style only the middle</li>
    <li class="text-left" style="font-size: 1.2rem;">&ltdl&gt Described lists
      <dl>
        <dt>&ltdt&gt</dt>
        <dd>&ltdd&gt&ltdl&gt</dd>
      </dl> 
    </li>
    <li class="text-left" style="font-size: 1.2rem;">&ltiframe src="demo_iframe.htm" height="200" width="300" title="Iframe Example"&gt&lt/iframe&gt iframes are used to embed another document in the html document. can be target of link as shown in atributes</li>
    <li class="text-left" style="font-size: 1.2rem;">The HTML &ltnoscript&gt&lt/noscript&gt tag defines an alternate content to be displayed to users that have disabled scripts in their browser or have a browser that doesn't support scripts</li>
    <li class="text-left" style="font-size: 1.2rem;">&ltarticle&gt 
    <li class="text-left" style="font-size: 1.2rem;">The &ltkbd&gt&lt/kbd&gt element defines keyboard input </li>
    <li class="text-left" style="font-size: 1.2rem;">The &ltsamp&gt&lt/samp&gt element defines sample output from a computer program</li>
    <li class="text-left" style="font-size: 1.2rem;">The &ltcode&gt&lt/code&gt element defines a piece of computer code</li>
    <li class="text-left" style="font-size: 1.2rem;">The &ltvar&gt&lt/var&gt element defines a variable in programming or in a mathematical expression</li>
    <li class="text-left" style="font-size: 1.2rem;">The &ltsection&gt&lt/section&gt element defines a section in a document.<q>A section is a thematic grouping of content, typically with a heading.</q></li>
    <li class="text-left" style="font-size: 1.2rem;">The &ltaside&gt&lt/aside&gt element defines some content aside from the content it is placed in (like a sidebar).</li>
    <li class="text-left" style="font-size: 1.2rem;">&ltfigure&gt&lt/figure&gt tag specifies self-contained content, </li>
    <li class="text-left" style="font-size: 1.2rem;">The &ltfigcaption&gt tag defines a caption for a &ltfigure&gt element. The &ltfigcaption&gt element can be placed as the first or as the last child of a &ltfigure&gt element.</li>
    <li class="text-left" style="font-size: 1.2rem;"><pre> &ltfigure&gt  
      &ltimg src="pic_trulli.jpg" alt="Trulli"&gt  
      &ltfigcaption&gtFig1. - Trulli, Puglia, Italy.&lt/figcaption&gt 
      &lt/figure&gt </pre></li>
    <li class="text-left" style="font-size: 1.2rem;">The %ltlabel&gt&lt/label&gt element defines a label for several form elements.</li>
    <li class="text-left" style="font-size: 1.2rem;">The &ltselect&gt&lt/select&gt element defines a drop-down list</li>
    <li class="text-left" style="font-size: 1.2rem;">The &ltoption&gt&lt/option&gt element defines an option that can be selected</li>
    <li class="text-left" style="font-size: 1.2rem;">The $lttextarea&gt&lt/textarea&gt element defines a multi-line input field</li>
    <li class="text-left" style="font-size: 1.2rem;">The &ltbutton type="button"&gt&lt/button&gt element defines a clickable button. YSe the type button for browsers to display it correctly</li>
    <li class="text-left" style="font-size: 1.2rem;">The &ltfieldset&gt&lt/fieldest&gt element is used to group related data in a form.</li>
    <li class="text-left" style="font-size: 1.2rem;">The &ltlegend&gt&lt/legend&gt element defines a caption for the &ltfieldset&gt element.</li>
    <li class="text-left" style="font-size: 1.2rem;">The &ltdatalist&gt&lt/datalist&gt element specifies a list of pre-defined options for an &ltinput&gt element.</li>
    <li class="text-left" style="font-size: 1.2rem;">The &ltoutput&gt&lt/output&gt element represents the result of a calculation (like one performed by a script).</li>
    <li class="text-left" style="font-size: 1.2rem;">The HTML &ltcanvas&gt&lt/canvas/&gt element is used to draw graphics on a web page.</li>
    <li class="text-left" style="font-size: 1.2rem;">The HTML &ltsvg&gt&lt/svg&gt element is a container for SVG (Scalable Vector Graphics) graphics</li>
    <li class="text-left" style="font-size: 1.2rem;">To show a video in HTML, use the &ltvideo&gt&lt/video&gt element. &ltsource&gt can be used to specify alternatives</li>
    <li class="text-left" style="font-size: 1.2rem;">&lttrack&gt&lt/track&gt 	Defines text tracks in media players</li>
    <li class="text-left" style="font-size: 1.2rem;">To play audio in HTML, use the &ltaudio&gt&lt/video&gt element. &ltaudio&gt can be used to specify alternatives</li>
    <li class="text-left" style="font-size: 1.2rem;">The &ltobject&gt&lt/object&gt element defines an embedded object within an HTML document. It was designed to embed plug-ins (like Java applets, PDF readers, and Flash Players(mostly not supported anymore)) in web pages, but can also be used to include HTML in HTML:</li>
    <li class="text-left" style="font-size: 1.2rem;">The &ltembed&gt&lt/embed&gt element also defines an embedded object within an HTML document. It is supported in browsers</li>
  </ul>
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
  <h1 class="text-left" style="font-size: 3.4rem;">Atributes</h1> 
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
  <ul>
    <li class="text-left" style="font-size: 1.2rem;">genelral atribute title makes a tooltip when hovering over </li>
    <li class="text-left" style="font-size: 1.2rem;">in images width and length control the size of an image </li>
    <li class="text-left" style="font-size: 1.2rem;">in images the alt attribute is for if image does not load and for webpage readers </li>
    <li class="text-left" style="font-size: 1.2rem;">&lta target="value"&gt$lt/a&gt defines where the link opens </li>
    <ul>
      <li> _self - Default. Opens the document in the same window/tab as it was clicked</li>
      <li> _blank - Opens the document in a new window or tab</li>
      <li> _parent - Opens the document in the parent frame</li>
      <li> _top - Opens the document in the full body of the window</li>
    </ul>
    <li class="text-left" style="font-size: 1.2rem;">href="#id" is a the bookmark to an id on the page and href="html_demo.html#id" takes to a local id in another page of the website</li>
    <li class="text-left" style="font-size: 1.2rem;">onclick can be used to define an action when user clicks on an image or map for example via script</li>
    <li class="text-left" style="font-size: 1.2rem;">onload can be used to run code when an asset is loaded</li>
    <li class="text-left" style="font-size: 1.2rem;">In a table the colspan="n" attribute can be used to indicate how many columns it should be over.</li>
    <li class="text-left" style="font-size: 1.2rem;">In a table the rowspan="n" attribute can be used to indicate how many columns it should be over.</li>
    <li class="text-left" style="font-size: 1.2rem;">ordered list type</li>
    <ul>
      <li class="text-left" style="font-size: 1.2rem;">type="1" 	The list items will be numbered with numbers (default)</li>
      <li class="text-left" style="font-size: 1.2rem;">type="A" 	The list items will be numbered with uppercase letters</li>
      <li class="text-left" style="font-size: 1.2rem;">type="a" 	The list items will be numbered with lowercase letters</li>
      <li class="text-left" style="font-size: 1.2rem;">type="I" 	The list items will be numbered with uppercase roman numbers</li>
      <li class="text-left" style="font-size: 1.2rem;">type="i" 	The list items will be numbered with lowercase roman numbers</li>
    </ul>
    <li class="text-left" style="font-size: 1.2rem;"> &ltiframe src="demo_iframe.htm" name="iframe_a" title="Iframe Example"&gt&lt/iframe&gt &ltp&gt&lta href="https://www.w3schools.com" target="iframe_a"&gtW3Schools.com&lt/a&gt&lt/p&gt iframe being target of link</li> 
    <li class="text-left" style="font-size: 1.2rem;">&ltmain&gt&lt/main&gt	Specifies the main content of a document</li>
    <li class="text-left" style="font-size: 1.2rem;">&lttime&gt&lt/time&gt	Defines a date/time</li>
    <li class="text-left" style="font-size: 1.2rem;">&ltdetails&gt&lt/details&gt 	Defines additional details that the user can view or hide</li>
    <li class="text-left" style="font-size: 1.2rem;">&ltsummary&gt&lt/summary&gt Defines a visible heading for a &ltdetails&gt element</li>
    <li class="text-left" style="font-size: 1.2rem;">The action attribute defines the action to be performed when the form is submitted</li>
    <li class="text-left" style="font-size: 1.2rem;">method attribute specifies the HTTP method to be used when submitting the form data. method="post"</li>
    <li class="text-left" style="font-size: 1.2rem;">autocomplete attribute specifies whether a form should have autocomplete on or off. When on, the browser automatically completes values based on values that the user has entered before.</li>
    <li class="text-left" style="font-size: 1.2rem;">The novalidate attribute is a boolean attribute. It specifies that the form-data (input) should not be validated when submitted.</li>
    <li class="text-left" style="font-size: 1.2rem;">enctype - Specifies how the form-data should be encoded when submitting it to the server (only for method="post")</li>
    <li class="text-left" style="font-size: 1.2rem;">name - Specifies the name of the form</li>
    <li class="text-left" style="font-size: 1.2rem;">rel - Specifies the relationship between a linked resource and the current document</li>
    <li class="text-left" style="font-size: 1.2rem;">The rows attribute specifies the visible number of lines in a text area.</li>
    <li class="text-left" style="font-size: 1.2rem;">The cols attribute specifies the visible width of a text area.</li>
    <li class="text-left" style="font-size: 1.2rem;">The list attribute of the &ltinput&gt element, must refer to the id attribute of the &ltdatalist&gt element.</li>
    <li class="text-left" style="font-size: 1.2rem;">checked 	Specifies that an input field should be pre-selected when the page loads (for type="checkbox" or type="radio")</li>
    <li class="text-left" style="font-size: 1.2rem;">disabled 	Specifies that an input field should be disabled. data will not be sent when submitted</li>
    <li class="text-left" style="font-size: 1.2rem;">max 	Specifies the maximum value for an input field</li>
    <li class="text-left" style="font-size: 1.2rem;">maxlength 	Specifies the maximum number of character for an input field does not provide any feedback. So, if you want to alert the user, you must write JavaScript code.</li>
    <li class="text-left" style="font-size: 1.2rem;">min 	Specifies the minimum value for an input field</li>
    <li class="text-left" style="font-size: 1.2rem;">pattern 	Specifies a regular expression to check the input value against</li>
    <li class="text-left" style="font-size: 1.2rem;">readonly 	Specifies that an input field is read only (cannot be changed)</li>
    <li class="text-left" style="font-size: 1.2rem;">required 	Specifies that an input field is required (must be filled out)</li>
    <li class="text-left" style="font-size: 1.2rem;">size 	Specifies the width (in characters) of an input field The default value for size is 20.</li>
    <li class="text-left" style="font-size: 1.2rem;">step 	Specifies the legal number intervals for an input field</li>
    <li class="text-left" style="font-size: 1.2rem;">value 	Specifies the default value for an input field</li>
    <li class="text-left" style="font-size: 1.2rem;">The input value attribute specifies an initial value for an input field</li>
    <li class="text-left" style="font-size: 1.2rem;">The input placeholder attribute specifies a short hint that describes the expected value of an input field (a sample value or a short description of the expected format). The short hint is displayed in the input field before the user enters a value.</li>
    <li class="text-left" style="font-size: 1.2rem;">The input autofocus attribute specifies that an input field should automatically get focus when the page loads.</li>
    <li class="text-left" style="font-size: 1.2rem;">The input list attribute refers to a &ltdatalist&gt element that contains pre-defined options for an &ltinput&gt element.</li>
    <li class="text-left" style="font-size: 1.2rem;">The input formaction attribute specifies the URL of the file that will process the input when the form is submitted. Note: This attribute overrides the action attribute of the &ltform&gt element.</li>
    <li class="text-left" style="font-size: 1.2rem;">The input formenctype attribute specifies how the form-data should be encoded when submitted (only for forms with method="post"). Note: This attribute overrides the enctype attribute of the &ltform&gt element.</li>
    <li class="text-left" style="font-size: 1.2rem;">The input formtarget attribute specifies a name or a keyword that indicates where to display the response that is received after submitting the form. Note: This attribute overrides the target attribute of the &ltform&gt element.</li>
    <li class="text-left" style="font-size: 1.2rem;">The input formnovalidate attribute specifies that an <input> element should not be validated when submitte. Note: This attribute overrides the novalidate attribute of the &ltform&gt element</li>
    <li class="text-left" style="font-size: 1.2rem;">controls attribute adds video controls, like play, pause, and volume. in media video</li>
    <li class="text-left" style="font-size: 1.2rem;">To start a video automatically, use the autoplay attribute</li>
    <li class="text-left" style="font-size: 1.2rem;">To start a video muted, use the muted attribute for muted autoplay use muted autoplay</li>
    <li class="text-left" style="font-size: 1.2rem;">To make an element draggable, set the draggable attribute to true</li>  
    <li class="text-left" style="font-size: 1.2rem;">The ondragover attrribute of the <div> element calls a function (dragoverHandler(ev)), that specifies where the dragged data can be dropped.</li> 
  </ul>
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
  <h1 class="text-left" style="font-size: 3.4rem;">Form Input types</h1> 
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
  <ul>
    <li class="text-left" style="font-size: 1.2rem;">&ltinput type="text"&gt 	Displays a single-line text input field</li>
    <li class="text-left" style="font-size: 1.2rem;">&ltinput type="radio"&gt 	Displays a radio button (for selecting one of many choices)</li>
    <li class="text-left" style="font-size: 1.2rem;">&ltinput type="checkbox"&gt 	Displays a checkbox (for selecting zero or more of many choices)</li>
    <li class="text-left" style="font-size: 1.2rem;">&ltinput type="submit"&gt 	Displays a submit button (for submitting the form)</li>
    <li class="text-left" style="font-size: 1.2rem;">&ltinput type="button"&gt 	Displays a clickable button</li>
    <li class="text-left" style="font-size: 1.2rem;">&ltinput type="color"&gt Is used for input fields that should contain a color.</li>
    <li class="text-left" style="font-size: 1.2rem;">&ltinput type="date"&gt Is used for input fields that should contain a date, min and max attributes to add restrictions to dates</li>
    <li class="text-left" style="font-size: 1.2rem;">&ltinput type="datetime-local"&gt Specifies a date and time input field, with no time zone</li>
    <li class="text-left" style="font-size: 1.2rem;">&ltinput type="email"&gt is used for input fields that should contain an e-mail address.</li>
    <li class="text-left" style="font-size: 1.2rem;">&ltinput type="file"&gt Defines a file-select field and a "Browse" button for file uploads.</li>
    <li class="text-left" style="font-size: 1.2rem;">&ltinput type="hidden"&gt Defines a hidden input field (not visible to a user). A hidden field lets web developers include data that cannot be seen or modified by users when a form is submitted. A hidden field often stores what database record that needs to be updated when the form is submitted. can be modified with dev tools.</li>
    <li class="text-left" style="font-size: 1.2rem;">&ltinput type="image"&gt Defines an image as a submit button.</li>
    <li class="text-left" style="font-size: 1.2rem;">&ltinput type="month"&gt Allows the user to select a month and year.</li>
    <li class="text-left" style="font-size: 1.2rem;">&ltinput type="number"&gt Defines a numeric input field, and can restricy wich numbers can be selcted</li>
    <li class="text-left" style="font-size: 1.2rem;">&ltinput type="password"&gt Is used when the input field should contain a passwprd.</li>
    <li class="text-left" style="font-size: 1.2rem;">&ltinput type="range"&gt Defines a control for entering a number whose exact value is not important (like a slider control). Default range is 0 to 100. Restrictions can be set on what numbers are accepted with the min, max, and step attributes</li>
    <li class="text-left" style="font-size: 1.2rem;">&ltinput type="reset"&gt</li>
    <li class="text-left" style="font-size: 1.2rem;">&ltinput type="search"&gt Is used for search fields (behaves like a regular text field).</li>
    <li class="text-left" style="font-size: 1.2rem;">&ltinput type="tel"&gt Is used for input fields that should contain a telephone number.</li>
    <li class="text-left" style="font-size: 1.2rem;">&ltinput type="time"&gt Allows the user to select a time (no time zone).</li>
    <li class="text-left" style="font-size: 1.2rem;">&ltinput type="url"&gt Is used for input fields that should contain a URL address</li>
    <li class="text-left" style="font-size: 1.2rem;">&ltinput type="week"&gt Allows the user to select a week and year.</li>        
  </ul>
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
  <h1 class="text-left" style="font-size: 3.4rem;">Youtube embedded api </h1> 
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
  <ul>
    <li class="text-left" style="font-size: 1.2rem;">Youtube videos can be embedded in an iframe</li>
    <li class="text-left" style="font-size: 1.2rem;">mute=1 after autoplay=1 to let your video start playing automatically (but muted). src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1&mute=1"</li>
    <li class="text-left" style="font-size: 1.2rem;">Youtube Playlist. A comma separated list of videos to play (in addition to the original URL).</li>
    <li class="text-left" style="font-size: 1.2rem;">Add playlist=videoID and loop=1</li>
    <li class="text-left" style="font-size: 1.2rem;">controls=0 - Player controls does not display. controls=1 (default) - Player controls is displayed.</li> 
  </ul> 
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
  <h1 class="text-left" style="font-size: 3.4rem;">Form Examples</h1> 
</div>
<div class="row justify-content-md-left container d-flex mx-auto"></div>
  <form>
    <label for="cars">Choose a car:</label>
    <select id="cars" name="cars">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
    </select>
  </form>
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
  <form>
    <input type="radio" id="html" name="fav_language" value="HTML">
    <label for="html">HTML</label><br>
    <input type="radio" id="css" name="fav_language" value="CSS">
    <label for="css">CSS</label><br>
    <input type="radio" id="javascript" name="fav_language" value="JavaScript">
    <label for="javascript">JavaScript</label>
  </form>
<div class="row justify-content-md-left container d-flex mx-auto">
</div>
  <form>
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
    <label for="vehicle1"> I have a bike</label><br>
    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
    <label for="vehicle2"> I have a car</label><br>
    <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
    <label for="vehicle3"> I have a boat</label>
  </form>
  <form>
    <textarea name="message" rows="10" cols="30">
    The cat was playing in the garden.
    </textarea> 
  </form>
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
  <form>
    <fieldset>
      <legend>Personalia:</legend>
      <label for="fname">First name:</label><br>
      <input type="text" id="fname" name="fname" value="John"><br>
      <label for="lname">Last name:</label><br>
      <input type="text" id="lname" name="lname" value="Doe"><br><br>
      <input type="submit" value="Submit">
    </fieldset>
  </form>
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
  <form action="/action_page.php">
    <input list="browsers">
    <datalist id="browsers">
      <option value="Edge">
      <option value="Firefox">
      <option value="Chrome">
      <option value="Opera">
      <option value="Safari">
    </datalist>
  </form> 
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
  <table class="ws-table-all notranslate">   
    <tbody>
      <caption>SVG and Canvas comparison</caption>
      <tr>
        <th style="width:50%">SVG</th>
        <th style="width:50%">Canvas</th>
      </tr>
      <tr>
        <td>
          <ul>
            <li>Resolution independent</li>
            <li>Support for event handlers</li>
            <li>Good text rendering capabilities</li>
            <li>Slow rendering if complex</li>
            <li>Not suited for game applications</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>Resolution dependent</li>
            <li>No support for event handlers</li>
            <li>Poor text rendering capabilities</li>
            <li>You can save the resulting image as .png or .jpg</li>
            <li>Well suited for graphic-intensive games</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</body>
</html>