{% include "header.html" %}
{% include "prog_header.html" %}
<div class="container-fluid " style = "margin-top:100px">
<div class="row justify-content-md-center container d-flex mx-auto">
    <h1 class="text-center" style="font-size: 3.4rem;">HTML</h1>
    
<div class="row justify-content-md-center container d-flex mx-auto">
</div>
    <p class="text-center" style="font-size: 1.2rem;"> 
    To note down stuff i don't remember when looking <a href="https://www.w3schools.com/css" class="golden_link">at w3 schools</a> w3 schools guide and school
    </p>
</div>
<div class="row justify-content-md-center container d-flex mx-auto">
      <h1 class="text-center" style="font-size: 3.4rem;">Text</h1> 
</div>
<div class="row justify-content-md-center container d-flex mx-auto">
    <ul>
        <li><p class="text-left" style="font-size: 1.2rem;">font-family changes the font</p></li>
        <li><p class="text-left" style="font-size: 1.2rem;">font-ssize affects the size of the text</p></li>
        <li><p class="text-left" style="font-size: 1.2rem;">text-align affects the text's position</p></li>
        <li><p class="text-left" style="font-size: 1.2rem;">color changes the color of the text</p></li>
        <li><p class="text-left" style="font-size: 1.2rem;"></p></li>
        <li><p class="text-left" style="font-size: 1.2rem;"></p></li>
    </ul>
</div>
<div class="row justify-content-md-center container d-flex mx-auto">
      <h1 class="text-center" style="font-size: 3.4rem;">other</h1> 
</div>
<div class="row justify-content-md-center container d-flex mx-auto">
    <ul>
        <li><p class="text-left" style="font-size: 1.2rem;">background-color changes the background of the page or element</p></li>
        <li><p class="text-left" style="font-size: 1.2rem;"></p></li>
        <li><p class="text-left" style="font-size: 1.2rem;"></p></li>
        <li><p class="text-left" style="font-size: 1.2rem;"></p></li>
        <li><p class="text-left" style="font-size: 1.2rem;"></p></li>
        <li><p class="text-left" style="font-size: 1.2rem;"></p></li>
    </ul>
</div>
</div>
</body>
</html>