{% include "header.html" %}
{% include "prog_header.html" %}
<div class="container-fluid " style = "margin-top:100px">
<div class="row justify-content-md-left container d-flex mx-auto">
    <h1 class="text-center" style="font-size: 3.4rem;">HTML</h1>
</div>
<div class="row justify-content-left container d-flex mx-auto">
<div>
    <p class="text-left" style="font-size: 1.2rem;"> 
    To note down stuff i don't remember when looking <a href="https://www.w3schools.com/html" class="golden_link">at w3 schools</a> w3 schools guide and school
    </p>
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
      <h1 class="text-left" style="font-size: 3.4rem;">Theory</h1> 
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
    <ul>
        <li><p class="text-left" style="font-size: 1.2rem;">Empty elements dont have a closing tabs</p></li>
        <li><p class="text-left" style="font-size: 1.2rem;">Elements are not case senitive</P></lI>
        <li><p class="text-left" style="font-size: 1.2rem;">include the lang attribute inside the &lthtml&gt tag, to declare the language of the Web page. This is meant to assist search engines and browsers</p></li>
        <li><p class="text-left" style="font-size: 1.2rem;">Atributes go inside an element to add or define its behaviour and appearance</p></li>
        <li><p class="text-left" style="font-size: 1.2rem;">Html paragraphs start in a new line</p></li>
        <li><p class="text-left" style="font-size: 1.2rem;"></p></li>
        <li><p class="text-left" style="font-size: 1.2rem;"></p></li>
        <li><p class="text-left" style="font-size: 1.2rem;"></p></li>
    </ul>  
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
      <h1 class="text-left" style="font-size: 3.4rem;">Elements</h1>  
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
    <ul>
        <li><p class="text-left" style="font-size: 1.2rem;">&ltbr&gt makes a horizontal white space it is an empty element</p></li>
        <li><p class="text-left" style="font-size: 1.2rem;">&lthr&gt makes a horizontal line across the screen</p></li>
        <li><p class="text-left" style="font-size: 1.2rem;">&ltstrong&gt and &ltb&gt - <b>Bold text</b></p>         
        <li><p class="text-left" style="font-size: 1.2rem;">&lti&gt and &ltem&gt - <i>Italic text</i></p></li>
        <li><p class="text-left" style="font-size: 1.2rem;">&ltmark&gt - <mark>marked text</mark></p></li>
        <li><p class="text-left" style="font-size: 1.2rem;">&ltsmall&gt - <small>Smaller text</small></p></li>
        <li><p class="text-left" style="font-size: 1.2rem;">&ltdel&gt - <del>Deleted text</del></p></li>
        <li><p class="text-left" style="font-size: 1.2rem;">&ltins&gt - <ins>Inserted text</ins></p></li>
        <li><p class="text-left" style="font-size: 1.2rem;">&ltsub&gt - <sub>subscript text</sub></p></li>
        <li><p class="text-left" style="font-size: 1.2rem;">&ltsup&gt - <sup>Superscript text</sup></li></p></li>
        <li><p class="text-left" style="font-size: 1.2rem;"><blockquote cite="http://www.worldwildlife.org/who/index.html">&ltblockquote cite="http://www.worldwildlife.org/who/index.html"&gt&lt/blockquote&gtDefines a bolck of text quoted from a source</blockquote></p></li>  
        <li><p class="text-left" style="font-size: 1.2rem;"></p></li>
        <li><p class="text-left" style="font-size: 1.2rem;"></p></li>
        <li><p class="text-left" style="font-size: 1.2rem;"></p></li>
        <li><p class="text-left" style="font-size: 1.2rem;"></p></li>
    </ul>
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
      <h1 class="text-left" style="font-size: 3.4rem;">Atributes</h1>  
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
    <ul>
        <li><p class="text-left" style="font-size: 1.2rem;">genelral atribute title makes a tooltip when hovering over</p></li>
        <li><p class="text-left" style="font-size: 1.2rem;">in images width and length control the size of an image</p></li>
        <li><p class="text-left" style="font-size: 1.2rem;">in images the alt attribute is for if image does not load and for webpage readers </p></li>
        <li><p class="text-left" style="font-size: 1.2rem;"></p></li>
        <li><p class="text-left" style="font-size: 1.2rem;"></p></li>
        <li><p class="text-left" style="font-size: 1.2rem;"></p></li>
        <li><p class="text-left" style="font-size: 1.2rem;"></p></li>
    </ul>
</div>
</div>
</body>
</html>