{% include "header.html" %}
{% include "prog_header.html" %}
<div class="container-fluid " style = "margin-top:100px">
<div class="row justify-content-md-left container d-flex mx-auto">
    <h1 class="text-left" style="font-size: 3.4rem;">CSS</h1>
    
<div class="row justify-content-md-left container d-flex mx-auto">
</div>
    <p class="text-left" style="font-size: 1.2rem;"> 
    To note down stuff i don't remember when looking in this case most of it <a href="https://www.w3schools.com/css" target="_blank" class="golden_link">at w3 schools</a> w3 schools guide and school
    </p>
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
      <h1 class="text-left" style="font-size: 3.4rem;">Text</h1> 
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
    <ul>
        <li  class="text-left" style="font-size: 1.2rem;">font-family changes the font </li>
        <li  class="text-left" style="font-size: 1.2rem;">font-ssize affects the size of the text </li>
        <li  class="text-left" style="font-size: 1.2rem;">text-align affects the text's position </li>
        <li  class="text-left" style="font-size: 1.2rem;">color changes the color of the text </li>
        <li  class="text-left" style="font-size: 1.2rem;">text-decoration: none; or text-decoration: underline; defines if the text is underlined or not works on links</li>
        <li  class="text-left" style="font-size: 1.2rem;"> </li>
    </ul>
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
      <h1 class="text-left" style="font-size: 3.4rem;">Colors</h1> 
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
    <ul>
        <li  class="text-left" style="font-size: 1.2rem;">background-color changes the background of the page or element </li>
        <li  class="text-left" style="font-size: 1.2rem; border:2px solid Tomato;">How to make color border style="border:2px solid Tomato;" </li>
        <li  class="text-left" style="font-size: 1.2rem;">rgba(255, 99, 71, 0.2)alpha parameter is a number between 0.0 (fully transparent) and 1.0 (not transparent at all) </li>
        <li  class="text-left" style="font-size: 1.2rem;">hsl(hue, saturation, lightness) </li>
            <ul>
                <li  class="text-left" style="font-size: 1.2rem;">Hue is a degree on the color wheel from 0 to 360. 0 is red, 120 is green, and 240 is blue. </li>
                <li  class="text-left" style="font-size: 1.2rem;">Saturation is a percentage value. 0% means a shade of gray, and 100% is the full color. </li>
                <li  class="text-left" style="font-size: 1.2rem;">Lightness is also a percentage value. 0% is black, and 100% is white. </li>
            </ul>
        <li class="text-left" style="font-size: 1.2rem;">HSLA is the same as with RGBA</li>
        <li  class="text-left" style="font-size: 1.2rem;"> </li>
        <li  class="text-left" style="font-size: 1.2rem;"> </li>
        <li  class="text-left" style="font-size: 1.2rem;"> </li>
        <li  class="text-left" style="font-size: 1.2rem;"> </li>
    </ul>
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
      <h1 class="text-left" style="font-size: 3.4rem;">Links</h1> 
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
    <ul>
        <li  class="text-left" style="font-size: 1.2rem; text-decoration: underline;"></li>
        <li  class="text-left" style="font-size: 1.2rem;"> </li>
        <li  class="text-left" style="font-size: 1.2rem;"> </li>
    </ul>
</div>
</div>
</body>
</html>